<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\directx练习\BombMan\Debug\BombMan.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\directx练习\BombMan\Debug</StartWorkingDirectory>
  </propertyGroup>
</Project>